In [8]:
# Import Libraries
# pip install all below
import pandas as pd
import numpy as np
import geopandas as gpd
import geojsonio
from geojson import Feature, FeatureCollection, Point
from shapely import wkt

from sqlalchemy import create_engine
from config import aws_user
from config import aws_password

In [9]:
geo_json = gpd.read_file('../static/js/counties.json')

In [10]:
geo_json_df = pd.DataFrame(geo_json)
geo_json_df.head()

,state_id,county_id,geo_id,fips,county_name,geometry
0,21,007,0500000US21007,21007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."
1,21,017,0500000US21017,21017,Bourbon,"POLYGON ((-84.44266 38.28324, -84.44122 38.281..."
2,21,031,0500000US21031,21031,Butler,"POLYGON ((-86.89927 37.21231, -86.89989 37.210..."
3,21,065,0500000US21065,21065,Estill,"POLYGON ((-84.08034 37.85307, -84.08025 37.852..."
4,21,069,0500000US21069,21069,Fleming,"POLYGON ((-83.93035 38.49228, -83.97026 38.463..."

In [11]:
# Pull census state table from database
# Create Engine
engine = create_engine(f'postgresql://{aws_user}:{aws_password}@internet-access-db.cu7qa93nj5mh.us-west-1.rds.amazonaws.com:5432/postgres')
conn = engine.connect()

# Query tables (state_df can be anything you want)
state_df = pd.read_sql_table('census_state',con=engine)

# Close Connection
engine.dispose()
conn.close()

In [12]:
state_df.head()

  state_id   state_name
0       27    Minnesota
1       28  Mississippi
2       29     Missouri
3       30      Montana
4       31     Nebraska

In [13]:
# Pull machine learner internet score

In [15]:
# Merge geojson, state, and internet score
merged_df = geo_json_df.merge(state_df, left_on='state_id', right_on='state_id')
merged_df.head()
#merged_df_2 = merged_df(machine_learning_df,left_on='geo_id', right_on='geo_id' )

,state_id,county_id,geo_id,fips,county_name,geometry,state_name
0,21,007,0500000US21007,21007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062...",Kentucky
1,21,007,0500000US21007,21007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062...",Kentucky
2,21,007,0500000US21007,21007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062...",Kentucky
3,21,007,0500000US21007,21007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062...",Kentucky
4,21,007,0500000US21007,21007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062...",Kentucky

In [18]:
# Reorder
merged_df = merged_df[['geo_id',
                       'fips',
                       'state_id',
                       'state_name',
                       'county_id',
                       'county_name',
                       'geometry',
                      ]]
merged_df.head()

,geo_id,fips,state_id,state_name,county_id,county_name,geometry
0,0500000US21007,21007,21,Kentucky,007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."
1,0500000US21007,21007,21,Kentucky,007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."
2,0500000US21007,21007,21,Kentucky,007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."
3,0500000US21007,21007,21,Kentucky,007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."
4,0500000US21007,21007,21,Kentucky,007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."

In [19]:
# Create GeoDataFrame
gdf = gpd.GeoDataFrame(merged_df, geometry='geometry')
gdf.head()

,geo_id,fips,state_id,state_name,county_id,county_name,geometry
0,0500000US21007,21007,21,Kentucky,007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."
1,0500000US21007,21007,21,Kentucky,007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."
2,0500000US21007,21007,21,Kentucky,007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."
3,0500000US21007,21007,21,Kentucky,007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."
4,0500000US21007,21007,21,Kentucky,007,Ballard,"POLYGON ((-89.17188 37.06818, -89.17572 37.062..."

In [20]:
gdf.to_file("../static/js/countyBoundaries.json", driver="GeoJSON")

In [ ]:
# Load output in geojson.io confirm data looks correct and save as geoJSON