In [1]:
# Initial imports.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import scale

In [2]:
# Import our input dataset
county_df = pd.read_csv("../resources/census_api/county.csv")
county_df.head()

           geo_id                      county_name  state_id  county_id
0  0500000US06033          Lake County, California         6         33
1  0500000US06043      Mariposa County, California         6         43
2  0500000US06115          Yuba County, California         6        115
3  0500000US06013  Contra Costa County, California         6         13
4  0500000US06035        Lassen County, California         6         35

In [3]:
# Drop unnecessary columns
county_df.drop(['county_id', 'state_id'], axis=1, inplace=True)
county_df.head()

           geo_id                      county_name
0  0500000US06033          Lake County, California
1  0500000US06043      Mariposa County, California
2  0500000US06115          Yuba County, California
3  0500000US06013  Contra Costa County, California
4  0500000US06035        Lassen County, California

In [4]:
# Read in census_sex_data
census_sex_df = pd.read_csv("../resources/census_api/census_sex_data.csv")
census_sex_df.head()

,geo_id,county_name,sex_total_men,sex_total_women,state_id,county_id
0,0500000US06033,"Lake County, California",31879,32269,6,33
1,0500000US06043,"Mariposa County, California",8920,8620,6,43
2,0500000US06115,"Yuba County, California",38468,37025,6,115
3,0500000US06013,"Contra Costa County, California",553701,579546,6,13
4,0500000US06035,"Lassen County, California",20671,10514,6,35

In [5]:
# Drop duplicate columns
census_sex_df.drop(['county_name', 'county_id', 'state_id'], axis=1, inplace=True)
census_sex_df.head()

           geo_id  sex_total_men  sex_total_women
0  0500000US06033          31879            32269
1  0500000US06043           8920             8620
2  0500000US06115          38468            37025
3  0500000US06013         553701           579546
4  0500000US06035          20671            10514

In [7]:
internet_access_df = pd.merge(county_df, census_sex_df, on =["geo_id"])
internet_access_df.head()

,geo_id,county_name,sex_total_men,sex_total_women
0,0500000US06033,"Lake County, California",31879,32269
1,0500000US06043,"Mariposa County, California",8920,8620
2,0500000US06115,"Yuba County, California",38468,37025
3,0500000US06013,"Contra Costa County, California",553701,579546
4,0500000US06035,"Lassen County, California",20671,10514