In [1]:
# Initial imports.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import scale

In [2]:
# Import regression model csv
multiple_linear_regression_df = pd.read_csv("../resources/regression_ml_model/merged_internet_access.csv")
multiple_linear_regression_df.head()

,geo_id,county_name,population,sex_total_men,sex_total_women,race_hispanic_or_latino,race_not_hispanic_or_latino,race_american_indian_and_alaska_native,race_asian,race_black_or_african_american,...,age_35-44,age_45-54,age_55-59,age_60-64,age_65-74,age_75-84,age_85_and_over,dl_speed_100_ua,dl_speed_level_up,level_up_access_pop_percent
0,0500000US06033,"Lake County, California",64148,31879,32269,12830,51318,2090,642,1426,...,6706,8097,5137,5540,8591,3975,1375,25.0,100.0,0.880890
1,0500000US06043,"Mariposa County, California",17540,8920,8620,1909,15631,390,243,166,...,1614,2284,1503,1683,2778,1556,356,25.0,100.0,0.407778
2,0500000US06115,"Yuba County, California",75493,38468,37025,20990,54503,643,4977,2340,...,9193,8410,4592,4001,5647,2311,1117,25.0,100.0,0.758733
3,0500000US06013,"Contra Costa County, California",1133247,553701,579546,288101,845146,2376,182135,93683,...,151683,164203,78858,69200,99537,48565,21680,25.0,100.0,0.976652
4,0500000US06035,"Lassen County, California",31185,20671,10514,5834,25351,847,436,2695,...,4353,3899,1803,1891,2504,1250,403,25.0,100.0,0.517515

In [12]:
new_df = multiple_linear_regression_df.iloc[:, 2:89]
new_df.head()

,population,sex_total_men,sex_total_women,race_hispanic_or_latino,race_not_hispanic_or_latino,race_american_indian_and_alaska_native,race_asian,race_black_or_african_american,race_native_hawaiian_and_other_pacific_islander,race_some_other_race,...,age_35-44,age_45-54,age_55-59,age_60-64,age_65-74,age_75-84,age_85_and_over,dl_speed_100_ua,dl_speed_level_up,level_up_access_pop_percent
0,64148,31879,32269,12830,51318,2090,642,1426,30,142,...,6706,8097,5137,5540,8591,3975,1375,25.0,100.0,0.880890
1,17540,8920,8620,1909,15631,390,243,166,54,20,...,1614,2284,1503,1683,2778,1556,356,25.0,100.0,0.407778
2,75493,38468,37025,20990,54503,643,4977,2340,292,126,...,9193,8410,4592,4001,5647,2311,1117,25.0,100.0,0.758733
3,1133247,553701,579546,288101,845146,2376,182135,93683,5251,3829,...,151683,164203,78858,69200,99537,48565,21680,25.0,100.0,0.976652
4,31185,20671,10514,5834,25351,847,436,2695,205,22,...,4353,3899,1803,1891,2504,1250,403,25.0,100.0,0.517515

In [6]:
# Seperate the features and target
y = multiple_linear_regression_df['level_up_access_pop_percent']
x = multiple_linear_regression_df.iloc[:, 2:89]

In [7]:
# Define the multiple linear regression model
linear_regression = LinearRegression()

In [8]:
# Fit the model
linear_regression.fit(x,y)

LinearRegression()

In [10]:
# predict with the data
y_pred = linear_regression.predict(x)
y_pred

array([0.88089026, 0.40777771, 0.7587329 , 0.97665151, 0.51751545,
       0.92608494, 0.95028887, 0.85139751, 0.82788701, 0.98992   ,
       0.96034159, 0.91577129, 0.89494334, 0.0202995 , 0.97807736,
       0.86829932, 0.94721079, 0.11691763, 0.83989441, 0.99089721,
       0.9944504 , 0.9683069 , 0.99404   , 0.942896  , 0.67803578,
       0.76413816, 0.93578312, 0.65287219, 0.87817196, 0.11857287,
       0.88751055, 0.90002411, 0.9854923 , 0.81263479, 0.90826123,
       0.99757492, 0.98946364, 0.91387169, 0.32545093, 0.80312017,
       0.16016288, 0.83441432, 0.93244107, 0.48884518, 0.88755135,
       0.74734626, 0.99994895, 0.80479973, 0.70746329, 0.7528142 ,
       0.23410663, 0.94837512, 0.87208905, 0.91517756, 0.39838493,
       0.76849388, 0.85249036, 0.98451429])