In [1]:
# Import libraries.
import pandas as pd

import re

In [2]:
# Read in CSV
internet_access_df = pd.read_csv('../resources/regression_ml_model/usa_merged_internet_access.csv')

In [3]:
# Split ID
internet_access_df['geo_id'] = internet_access_df['ID'].str.extract(r'(^.+?(?=\-))', expand=False)
internet_access_df['county_nane'] = internet_access_df['ID'].str.extract(r'((?<=\-).+?(?=\,))', expand=False)
internet_access_df['state_name'] = internet_access_df['ID'].str.extract(r'((?<=\,).+)', expand=False)

In [10]:
# Convert Internet Score & Round Level Up
internet_access_df['internet_score'] = round(internet_access_df['level_up_access_pop_percent'] * 10,1)
internet_access_df['level_up_access_pop_percent'] = round(internet_access_df['level_up_access_pop_percent'],2)
internet_access_df.head()

,geo_id,county_nane,state_name,internet_score,level_up_access_pop_percent,population,avg_household_size,sex_total_men,sex_total_women,race_hispanic_or_latino,...,age_15-19,age_20-24,age_25-34,age_35-44,age_45-54,age_55-59,age_60-64,age_65-74,age_75-84,age_85_and_over
0,0500000US06033,Lake County,California,8.8,0.88,64148,2.43,31879,32269,12830,...,3516,3231,6973,6706,8097,5137,5540,8591,3975,1375
1,0500000US06043,Mariposa County,California,4.1,0.41,17540,2.13,8920,8620,1909,...,804,803,1885,1614,2284,1503,1683,2778,1556,356
2,0500000US06115,Yuba County,California,7.6,0.76,75493,2.83,38468,37025,20990,...,4955,5600,11930,9193,8410,4592,4001,5647,2311,1117
3,0500000US06013,Contra Costa County,California,9.8,0.98,1133247,2.86,553701,579546,288101,...,72857,68013,143793,151683,164203,78858,69200,99537,48565,21680
4,0500000US06035,Lassen County,California,5.2,0.52,31185,2.23,20671,10514,5834,...,1444,3218,6287,4353,3899,1803,1891,2504,1250,403

In [11]:
# Drop ID column
internet_access_df = internet_access_df.drop(['ID'], axis=1)
internet_access_df.head()

KeyError: "['ID'] not found in axis"

In [12]:
# Column List
cols = list(internet_access_df.columns.values)
print(cols)

['geo_id', 'county_nane', 'state_name', 'internet_score', 'level_up_access_pop_percent', 'population', 'avg_household_size', 'sex_total_men', 'sex_total_women', 'race_hispanic_or_latino', 'race_not_hispanic_or_latino', 'race_american_indian_and_alaska_native', 'race_asian', 'race_black_or_african_american', 'race_native_hawaiian_and_other_pacific_islander', 'race_some_other_race', 'race_two_or_more', 'race_two_or_more_excluding_some_ther_and_three_or_more', 'race_two_or_more_including_some_other', 'race_white_alone', 'occupation_population_16_and_over_total', 'occupation_management_business_science_and_arts', 'occupation_service', 'occupation_sales_and_office', 'occupation_natural_resources_construction_and_maintenance', 'occupation_production_transporation_and_material_moving', 'hh_with_computer_and_internet_total', 'hh_with_computer', 'hh_with_bb_internet_subscription', 'industry_agriculture_forestry_fishing_and_hunting_and_mining', 'industry_construction', 'industry_manufacturing', 'industry_wholesale_trade', 'industry_retail_trade', 'industry_transportation_and_warehousing_and_utilities', 'industry_information', 'industry_finance_and_insurance_real_estate_and_rental_and_leasi', 'industry_professional_scientific_management_administrative_and_', 'industry_educational_services_health_care_and_social_assistance', 'industry_arts_entertainment_recreation_accommodation_and_food_s', 'industry_other_services_except_public_administration', 'industry_public_administration', 'hh_with_income_total', 'hh_with_income_less_than_10000', 'hh_with_income_10000-14999', 'hh_with_income_15000-24999', 'hh_with_income_25000-34999', 'hh_with_income_35000-49999', 'hh_with_income50000-74999', 'hh_with_income_75000-99999', 'hh_with_income_100000-149999', 'hh_with_income_150000-199999', 'hh_with_income_200000_and_greater', 'hh_median_income', 'hh_mean_income', 'family_structure_hh_total', 'family_structure_hh_with_one_or_more_under_18', 'family_structure_hh_with_none_under_18', 'employment_16_and_over_in_labor_force', 'employment_employed', 'employment_unemployed', 'employment_not_in_labor_force', 'edu_pop_over_25_less_than_9th_grade', 'edu_pop_over_25_9th-12th_no_diploma', 'edu_pop_over_25_high_school_graduate', 'edu_pop_over_25_some_college_no_degree', 'edu_pop_over_25_associates_degree', 'edu_pop_over_25_bachelors_degree', 'edu_pop_over_25_graduate_or_professional_degree', 'disability_population_under_18', 'disability_population_18-64', 'disability_population_65_and_over', 'disability_under_18_with_disability', 'disability_18-64_with_disability', 'disability_64_and_over_with_disability', 'citizenship_native_born', 'citizenship_foreign_born', 'age_under_5', 'age_5-9', 'age_10-14', 'age_15-19', 'age_20-24', 'age_25-34', 'age_35-44', 'age_45-54', 'age_55-59', 'age_60-64', 'age_65-74', 'age_75-84', 'age_85_and_over']

In [13]:
# Reorder
internet_access_df = internet_access_df[['geo_id',
                                         'county_nane',
                                         'state_name',
                                         'internet_score',
                                         'level_up_access_pop_percent',
                                         'population',
                                         'avg_household_size',
                                         'sex_total_men',
                                         'sex_total_women',
                                         'race_hispanic_or_latino',
                                         'race_not_hispanic_or_latino',
                                         'race_american_indian_and_alaska_native',
                                         'race_asian',
                                         'race_black_or_african_american',
                                         'race_native_hawaiian_and_other_pacific_islander',
                                         'race_some_other_race',
                                         'race_two_or_more',
                                         'race_two_or_more_excluding_some_ther_and_three_or_more',
                                         'race_two_or_more_including_some_other',
                                         'race_white_alone',
                                         'occupation_population_16_and_over_total',
                                         'occupation_management_business_science_and_arts',
                                         'occupation_service',
                                         'occupation_sales_and_office',
                                         'occupation_natural_resources_construction_and_maintenance',
                                         'occupation_production_transporation_and_material_moving',
                                         'hh_with_computer_and_internet_total',
                                         'hh_with_computer',
                                         'hh_with_bb_internet_subscription',
                                         'industry_agriculture_forestry_fishing_and_hunting_and_mining',
                                         'industry_construction',
                                         'industry_manufacturing',
                                         'industry_wholesale_trade',
                                         'industry_retail_trade',
                                         'industry_transportation_and_warehousing_and_utilities',
                                         'industry_information',
                                         'industry_finance_and_insurance_real_estate_and_rental_and_leasi',
                                         'industry_professional_scientific_management_administrative_and_',
                                         'industry_educational_services_health_care_and_social_assistance',
                                         'industry_arts_entertainment_recreation_accommodation_and_food_s',
                                         'industry_other_services_except_public_administration',
                                         'industry_public_administration',
                                         'hh_with_income_total',
                                         'hh_with_income_less_than_10000',
                                         'hh_with_income_10000-14999',
                                         'hh_with_income_15000-24999',
                                         'hh_with_income_25000-34999',
                                         'hh_with_income_35000-49999',
                                         'hh_with_income50000-74999',
                                         'hh_with_income_75000-99999',
                                         'hh_with_income_100000-149999',
                                         'hh_with_income_150000-199999',
                                         'hh_with_income_200000_and_greater',
                                         'hh_median_income',
                                         'hh_mean_income',
                                         'family_structure_hh_total',
                                         'family_structure_hh_with_one_or_more_under_18',
                                         'family_structure_hh_with_none_under_18',
                                         'employment_16_and_over_in_labor_force',
                                         'employment_employed',
                                         'employment_unemployed',
                                         'employment_not_in_labor_force',
                                         'edu_pop_over_25_less_than_9th_grade',
                                         'edu_pop_over_25_9th-12th_no_diploma',
                                         'edu_pop_over_25_high_school_graduate',
                                         'edu_pop_over_25_some_college_no_degree',
                                         'edu_pop_over_25_associates_degree',
                                         'edu_pop_over_25_bachelors_degree',
                                         'edu_pop_over_25_graduate_or_professional_degree',
                                         'disability_population_under_18',
                                         'disability_population_18-64',
                                         'disability_population_65_and_over',
                                         'disability_under_18_with_disability',
                                         'disability_18-64_with_disability',
                                         'disability_64_and_over_with_disability',
                                         'citizenship_native_born',
                                         'citizenship_foreign_born',
                                         'age_under_5',
                                         'age_5-9',
                                         'age_10-14',
                                         'age_15-19',
                                         'age_20-24',
                                         'age_25-34',
                                         'age_35-44',
                                         'age_45-54',
                                         'age_55-59',
                                         'age_60-64',
                                         'age_65-74',
                                         'age_75-84',
                                         'age_85_and_over'
                                        ]]

internet_access_df.head()

,geo_id,county_nane,state_name,internet_score,level_up_access_pop_percent,population,avg_household_size,sex_total_men,sex_total_women,race_hispanic_or_latino,...,age_15-19,age_20-24,age_25-34,age_35-44,age_45-54,age_55-59,age_60-64,age_65-74,age_75-84,age_85_and_over
0,0500000US06033,Lake County,California,8.8,0.88,64148,2.43,31879,32269,12830,...,3516,3231,6973,6706,8097,5137,5540,8591,3975,1375
1,0500000US06043,Mariposa County,California,4.1,0.41,17540,2.13,8920,8620,1909,...,804,803,1885,1614,2284,1503,1683,2778,1556,356
2,0500000US06115,Yuba County,California,7.6,0.76,75493,2.83,38468,37025,20990,...,4955,5600,11930,9193,8410,4592,4001,5647,2311,1117
3,0500000US06013,Contra Costa County,California,9.8,0.98,1133247,2.86,553701,579546,288101,...,72857,68013,143793,151683,164203,78858,69200,99537,48565,21680
4,0500000US06035,Lassen County,California,5.2,0.52,31185,2.23,20671,10514,5834,...,1444,3218,6287,4353,3899,1803,1891,2504,1250,403

In [14]:
internet_access_df.to_csv('../resources/visualization/viz_prep.csv', index=False)